# Created by venv; see https://docs.python.org/3/library/venv.html
__pycache__
.vscode/
venv/
naming_rate.py 
pdf_name_stats-v2.txt
pdf_name_stats-v1.txt  
test.py 
desktop.ini
Результаты_скана_до_16.11.2025